# Gitignore untuk Flask (Backend)
# Virtual environment
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Konfigurasi dan kredensial
instance/
config.py
.env
*.sqlite3

# Log dan cache
logs/
*.log
*.pid

# Celery
celerybeat-schedule

# Flask extensions
migrations/

# Gitignore untuk React (Frontend)
/node_modules
/.pnp
.pnp.js

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Konfigurasi editor
.vscode/
.idea/
.DS_Store

# Dependency file lock
package-lock.json
yarn.lock
